

/* .card-container {
    align-items: center;
    background-color: rgb(202, 146, 253);
    border: solid 2px #4a167a;
    width: 350px;
    height: 450px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color:#4a167a;
}

.card-title {
    font-size: 2rem;
    color: #4a167a;
    text-decoration: none;
}
 */

.card-container {
    align-items: center;
    text-align: center;
    background-color: #BF9766;
    border: solid 2px black;
    width: 350px;
    height: 420px;
    margin: 20px;
    border-radius: 10px;
    color:white;
}

.card-title {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.card-container img{
    width: 330px;
    height: 260px;
    border-radius: 10px;
}
.card-button{
    border: solid 2px;
    font-size: 1rem;
    height: 30px;
    width: 200px;
    color: white ;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.card-button button{
    border: none;
    width: 40px;
    height: 25px;
    background-color:transparent;
    color: white;
}