.card-container {
    background-color: #BF9766;
    border: solid 2px #3b2305;
    width: 350px;
    height: 400px;
    margin: 100px;
    border-radius: 10px;
    color:white;
}

.card-title {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.card-container img{
    width: 330px;
    height: 260px;
}